/* margin di default 8px da strumenti per sviluppatori */
body{
    margin: auto;
}

/* Problema di visualizzazione del titolo */
header h1
{
    margin: auto;
}

header {
    margin: auto;
    padding-top: 15px;
    background-color: blue;
    color: white;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

nav
{
    margin-top: 15px;
    background-color: aqua;
    color: black;
}

nav ul
{
    display: inline-flex;
    list-style-type: none;
}

/* Distanziazione elementi della lista */
nav li{
    padding: 5px;
}

nav a {
    padding: 5px;
    text-decoration: none; /*toglie la decorazione del testo*/
    color:black;
}

/*  NON NECESSARIO IN QUESTO CASO
    nav a:visited {
    background-color: cyan;
} */
  
nav a:hover {
/*     background-color: rgb(250, 250, 250); */
    text-decoration: red underline !important;
}

nav a:active {
    background-color:blue;
} 

section
{
    padding-left: 30px;
}

footer{
    padding: 20px;
    background-color: blue;
    font-size: 0.5m;
    color: white    
}